*, ::before, ::after {
    box-sizing: border-box;
}

body {
    background-color: #252525;
    color: #dddddd;
}

.text-shadow-black-005rem {
    text-shadow: black 0 0 0.05rem;
}

.text-shadow-white-005rem {
    text-shadow: white 0 0.05rem;
}